/*
Colours
*/

.red {
    color: #fc5554;
}

.green {
    color: #20ff20;
}


.dark-blue {
    color: #5455ed;
}


.light-blue {
    color: #42ebf5;
}

.yellow {
/ / color: #e6ce80;
    color: #FFEB52;
}

.purple {
    color: #c95bba;
}

.light-blue-hilight {
    background-color: #42ebf5;
    color: #000;
}

.dark-blue-hilight {
    background-color: #5455ed;
    color: #000;
    color: #FFEB52;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000000;
    color: #ffffff;
}

a {
    color: #20ff20;
}

a:hover {
    color: #fc5554;
    color: #e6ce80;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

aside {
    border-right: 6px solid #fff;
    background-image: url('/img/twitter.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

/
/
aside .absolute-bottom {
    bottom: 0;
}

aside .navbar {
    background-color: #000;
}

/* I can haz purple hamburger */
.navbar-toggler {
    width: 50px;
    height: 40px;
    border: none;
    margin-top: 10px;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 5px;
    background-color: #c95bba;
    margin-bottom: 6px;
}

/*
Badges
*/

.badge {
/ / padding: .4 em .8 em;
    font-size: 100%;
    border-radius: 0;
    font-size: 90%;

}

.badge-info {
    background-color: #42ebf5;
    color: #000;
}

.badge-sucess {
    background-color: #42ebf5;
    color: #000;
    background-color: #20ff20;
}


/*
.blink_me {
  animation: blinker 1s linear infinite;
} */
ul.timeperiod a {
    color: #42ebf5;
}

ul.timeperiod a:hover {
    color: #e6ce80;
}

ul.timeperiod .active {
    color: #c95bba;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

}

ul.timeperiod .active:before,
ul.timeperiod .active:after {
    content: '*';
}

ul.timeperiod table tr:first-child td,
ul.timeperiod table tr:first-child td a {
    color: #fc5554;
}

ul.timeperiod table tr:first-child td a:hover {
    color: #c95bba;
    animation: blinker;
}


/*
/ INVADERS
*/
.invaders {
    font-size: 0.8rem;
}

/*
PLAYERS*/

.players .box a {
    display: block;
}

.players .box {
    margin-bottom: 10px;
    text-align: center;
}

/* .players a.box{
     height: 150px;
     //border:1px solid red;
     margin-bottom: 10px;
     max-width: 100%;
     text-align:center;
 } */
/* .players a.box{
//display:inline-block;

 } */
.players h1 {
    color: #c95bba;
}

.players .box img {
    height: 150px;
    width: 150px;
    margin: 1rem;
    /* border: 5px solid #20ff20; */
}

.players .box:hover img {
    /* border: 5px solid #e6ce80; */
}

.players .box .location {
    font-size: 0.8rem;
    color: #42ebf5;
}

/*
Palyer
*/

.player .description {
    color: #c95bba;
}

.player img.avatar {

    /* border: 10px solid #20ff20; */
}

table {
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: top;
    padding-bottom: 1.5rem;
}

table thead th {
    vertical-align: bottom;
}

table th,
table td,
table thead th,
table tbody + tbody {
    border: 0;
}

footer {
    border-top: solid 0.5rem #fc5554;
    font-size: 1.25rem;
    font-weight: 300;
}

footer img {
    margin-right: 20px;

}

ul.pag {
    font-size: 2rem;
}

ul.pag li.active a {
    color: #fc5554;
}


/*
Score Advace table`
*/

.score_advance h1 {
    color: #42ebf5
}

.score_advance h2 button {
    font-size: 1.8rem;
}

.score_advance h2:hover button,
.score_advance h2:active button {
    text-decoration: none;
}

/*
/ animation
*/
/* @-webkit-keyframes blink {
   from { color: #20ff20; }
   to { color:#e6ce80 }
  }
 @-moz-keyframes blink {
   from { color: #20ff20; }
   to { color:#e6ce80 }
 }
 @-ms-keyframes blink {
   from { color: #20ff20; }
   to { color:#e6ce80 }
 }
 @-o-keyframes blink {
   from { color: #20ff20; }
   to { color:#e6ce80 }
 }
 @keyframes blink {
   from { color: #20ff20; }
   to { color:#e6ce80 }
 }

 .blink {
    color: #20ff20;
    -webkit-animation: blink 2s  alternate-reverse infinite;
    -moz-animation: blink 2s  alternate-reverse infinite;
    -ms-animation: blink 2s  alternate-reverse infinite;
    -o-animation: blink 2s  alternate-reverse infinite;
    animation: blink 2s  alternate-reverse infinite;
 } */
@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

/*

*/

.card {
    background-color: #fc5554;
    border-radius: 0;
}

.card-block {
    color: #fff;
}

.card-text {
    font-size: 0.8rem;
}
